.calculator {
    border: .1px solid lightgrey;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 250px;
    background-color: white;
}

.calculator_keys{
    display: grid;
    grid-template-columns: repeat(4, auto [col-start]);
    
}

button{
    background-color: lightgrey;
    border: 1px solid black;
    padding: 5px;
    margin: 1px;
}

.operators{
    background-color: rgb(179, 194, 209);
    border: 1 px solid black;
}

#equals{
    background-color: rgb(224, 128, 2);
}

.display {
    font-size: 20px;
    padding: 9px;
    text-align: right;
    box-sizing: border-box;
    background: black;
    color: white;
    height: 40px;
    width: 100%;
}

.pressed{
    background-color: rgb(81, 87, 92);
}