#container {
    border: .1px solid lightgrey;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 250px;
    background-color: white;
}

#numbersContainer{
    display: grid;
    grid-template-columns: repeat(4, auto [col-start]);
    
}

button{
    background-color: lightgrey;
    border: 1px solid black;
    padding: 5px;
    margin: 2.5px;
}

.operators{
    background-color: slategray;
    border: 1 px solid black;
}

#equals{
    background-color: rgb(37, 106, 255);
}

#display {
    box-sizing: border-box;
    margin: 2px;
    height: 40px;
    width: 100%;
}